<div class="center">
  <h1>Edit Survey</h1>

  <form action="/sessions/<%= @user.id %>/surveys/<%= @survey.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Title: <br><br></label>
    <input type="text" name="title" value="<%= @survey.title %>" />
    <br>
    <br>
    <label for="author">Question(s): </label>

    <div class="outer">
      <div class="inner">
        <ol>
          <% @survey.questions.each do |question| %>
          <li class="li-edit">
            <input type="text" name="question<%= question.id %>" value="<%= question.question %>" />
            <!-- <a href="">Delete</a> -->
          </li>
          <% end %>
        </ol>
      </div>
    </div>

    <br>
    <br>
    <input type="submit" value="Update Entry" id="update">
  </form>

</div>