<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/animations.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <title>Shake N' Bake Survey Portal</title>
</head>
<body>
  <div id="navigation">
    <!-- please align signed in as and user name correctly and put sign out button to the right most space -->
   <ul id="nav">
    <% if current_user %>
    <li id="profile">Currently shakin' n' bakin': <%= current_user.username %></li>

    <!-- create surveys link -->
    <li><a id="create" href="/sessions/<%= current_user.id %>/surveys/new">Create New Surveys</a></li>

    <!-- view all surveys -->
    <li><a id="view" href='/sessions/<%= current_user.id %>/profile'>View All Your Surveys</a></li>
    <li><form id="sign-out" action="/sessions/<%= current_user.id %>/profile" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="Sign Out" class="sign_out" >
      </form>
    </li>
<!--  <% #else %>
      <li id="left"><a href="/sessions/new">Sign In</a></li>
      <li id="right"><a href="/users/new">Sign Up</a></li>-->
      <% end %>
    </ul>
  </div>
  <%= yield %>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/js/application.js"></script>
  <audio id='sound' src="http://wavcentral.com/sounds/televis/price_is_right/tpirhorns.mp3" type="audio/mpeg" preload="auto"></audio>
</body>
</html>
