<div class="left">

  <h1>Title: <%= @survey.title %></h1>

  <div class="outer">
    <div class="inner">
      <ol>
        <% @survey.questions.each do |question| %>
        <li><%= question.question %></li>
        <% end %>
      </ol>
    </div>
  </div>

  <a href="/sessions/<%= @user.id %>/surveys/<%= @survey.id %>/edit" id="edit">Edit</a>
  <form action="/sessions/<%= @user.id %>/surveys/<%= @survey.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" id="delete">
  </form>

</div>